<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<h2>Usuarios</h2>
		<hr/>
				<h4 class="card-title">
					<a th:href="@{/usuarios/nuevo}" class="btn btn-primary">Crear Usuario</a>
				</h4>
 		<hr/>

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				

				<div th:object="${usuario}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/usuarios/buscar}" th:object="${usuario}" method="post" enctype="multipart/form-data">
					
					
					<div class="form-group row">
						<div class="col-sm-4">
							<input type="text" th:field="*{username}" class="form-control" placeholder="Nombre de Usuario"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{id}"></small>
						</div>
				</div>

					<br/>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}" class="btn btn-success" />
						</div>
					</div>

				</form>
			</div>
		</div>
 
 	 
	</div>
 

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>