<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'RECICLADOS PLASTICOS | ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<script src="https://kit.fontawesome.com/195f28af68.js"
	crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Alata&family=Bree+Serif&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}">RECICLADOS PLASTICOS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">

				<ul class="navbar-nav mr-auto">

					<li class="nav-item dropdown">
						<a 	class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false" th:text="#{text.index.producto}"></a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/producto/buscar}" th:text="#{text.index.producto}"></a>
							<a class="dropdown-item" th:href="@{/unidades/listar}" th:text="#{text.index.unidades}"></a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a 	class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false" th:text="#{text.index.ventas}"></a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/ventas/cliente/buscar}" th:text="#{text.index.clientes}"></a>
							<a class="dropdown-item" th:href="@{/ventas/factura/buscar}" th:text="#{text.index.facturas}"></a>
							<a class="dropdown-item" th:href="@{/ventas/credito/buscar}" th:text="#{text.index.creditos}"></a>
							<a class="dropdown-item" th:href="@{/ventas/debito/buscar}"  th:text="#{text.index.debitos}"></a>
							<a class="dropdown-item" th:href="@{/ventas/recibo/buscar}"  th:text="#{text.index.recibos}"></a>
							<a class="dropdown-item" th:href="@{/ventas/presupuesto/buscar}" th:text="#{text.index.presupuestos}"></a>
							<a class="dropdown-item" th:href="@{/ventas/remito/buscar}"  th:text="#{text.index.remitos}"></a>
							<a class="dropdown-item" th:href="@{/ventas/devolucion/buscar}"  th:text="#{text.index.devoluciones}"></a>
							<a class="dropdown-item" th:href="@{/ventas/reporte/buscar}"  th:text="#{text.index.reportes}"></a>
						</div>
					</li>					
					<li class="nav-item dropdown">
						<a 	class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false" th:text="#{text.index.parametros}"></a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/puntodeventa/listar}" th:text="#{text.index.puntosdeventa}"></a>
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{/usuarios/buscar}" th:text="#{text.index.usuarios}"></a>
						</div>
					</li>

				</ul>

				<!-- INICIAR SESION -->

				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()" class="nav-item "><a
						class="nav-link btn btn-outline-primary" th:href="@{/login}"  th:text="#{text.login.ingresar}"></a></li>

					<li sec:authorize="isAuthenticated()" class="dropdown"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							sec:authentication="name"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item btn btn-outline-primary"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit" th:text="#{text.login.salir}"></button>
							</form>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav navbar-right mx-4">
					<li class="nav-item mx-1"><a class="nav-link btn btn-outline-success" th:href="@{/locale(lang=es_ES)}">ES</a></li>
					<li class="nav-item mx-1"><a class="nav-link btn btn-outline-success" th:href="@{/locale(lang=en_US)}">EN</a></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />

		<p sec:authorize="isAuthenticated()" class="text-right">
			USUARIO: <span sec:authentication="name"></span> | ROLES: <span
				sec:authentication="principal.authorities"></span>
		</p>


		<p>
			<br />
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>