	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h2>Ventas - Notas de Crédito</h2>

 		<hr/>
 		
 			<div class="container">
					<div class="row">

						<div class="col-xs-2">
							<h4 class="card-title">
								<a th:href="@{/ventas/credito/nuevodetalle}" class="btn btn-info">Crear Nota de Crédito Detalle</a>
							</h4>
						</div>
						
						<div class="col-sm-4">
							<h4 class="card-title">
								<a th:href="@{/ventas/credito/buscar}" class="btn btn-success">Buscar Nota de Crédito</a>
							</h4>
						</div>

					</div>
				</div>
 		
 		
		
		<div class="card bg-light">
			<div class="card-header bg-light" th:text="${titulo}" ></div>
			<div class="card-body">
				<h4 class="card-title">
					 
				</h4>

				<form th:action="@{/ventas/credito/nuevo}" th:object="${credito}" method="post">

					<div class="form-group row" >
						<label class="col-xs-2 col-form-label">Fecha</label>
						<div class="col-sm-2">
							<input name="fecha" id="fecha" type="date" th:field="*{fecha}" class="form-control"  min="0"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
						</div>
					
						<label class="col-xs-2 col-form-label">Cond. de Venta</label>
						<div class="col-sm-2">
							<select id="condventa"  th:field="*{condventa}" class="form-control" th:errorclass="'form-control alert-danger'" >
								<option th:each="condventa: ${condicionesdeventa}" th:text="${condventa}" th:value="${condventa}"  class="form-control"> </option>
						    </select>
 						<div th:if="${#fields.hasErrors('condventa')}" th:errors="*{condventa}"> </div>
 						</div>
					
						<label for="pVenta" class="col-xs-2 col-form-label" th:text="'punto de venta'"></label>
						<div class="col-sm-4">
							<select id="pVenta" name="pVenta"  th:field="*{pVenta}" class="form-control"  th:errorclass="'form-control alert-danger'" >
								<option th:each="pVenta: ${puntosdeventa}" th:text="${pVenta.nombre + ' - Numero: ' + pVenta.numero}" th:value="${pVenta.id}"  class="form-control"> </option>
						    </select>
 						</div>
		 			</div>

					<div class="form-group row">
						<label for="cliente" class="col-xs-2 col-form-label"
							th:text="'Cliente'"></label>
							
						<div class="col-sm-10">
							<select id="cliente" name="cliente" th:field="*{cliente}" class="form-control" th:errorclass="'form-control alert-danger'" >
								<option th:each="cliente: ${clientes}" th:text="${cliente.nombre + ' - '+  cliente.razonsocial }" th:value="${cliente.id}"  class="form-control"> </option>
						    </select>
 					  <!-- 	<div th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}"> </div> -->	
							
						</div>
					</div>
					

					<div class="form-group row">
						<label for="buscar_producto" class="col-xs-2 col-form-label" th:text="'Buscar producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto" class="form-control"  />
						</div>
					</div>

					<table th:replace="/ventas/credito/plantilla-items :: itemsFactura"></table>

					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Cantidad</th>
								<th>Descripción</th>
								<th>Precio</th>
								<th>Descuento</th>
								<th>Total</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					
					<div class="form-group row">
						<div class="col-sm-12">
							<h5 class="float-right">TOTAL <span class="badge badge-secondary" id="gran_total">0</span></h5>
							<h5 class="float-right">IVA 21% <span class="badge badge-secondary" id="iva_total">0</span></h5>
							<h5 class="float-right">IMPORTE <span class="badge badge-secondary" id="importe_total">0</span></h5>
						</div>
					</div>
					<hr/>
					<div class="form-group row">
						<label for="observacion" class="col-sm-2 col-form-label" 	th:text="'Observación'"></label>
						<div class="col-sm-4">
							<textarea th:field="*{observacion}" placeholder="El comentario saldrá impreso al pie de la nota de crédito" class="form-control"></textarea>
						</div>
 					</div>
					
						<div class="form-group row">
							<div class="ml-auto">
								<input type="submit" th:value="${titulo}" class="btn btn-success" onclick="return confirm('Confirma la creación del documento?');"/>
							</div>
						</div>
					
				</form>



			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden"id="idproductoajax" th:value="@{'/ventas/credito/cargar-productos/'}" />
	<script th:replace="/ventas/credito/js/autocomplete-repeated-items :: javascript"></script>
	<script th:replace="/ventas/credito/js/blocksubmit :: javascript"></script>

</body>
</html>