<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<h2>Ventas - Reportes</h2>
		
 		<hr/>
 			<div class="card bg-dark text-white">
			<div class="card-header" th:text="'IVA Ventas'"></div>
			<div class="card-body">
	
					<div th:object="${reporte}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/ventas/reporte/buscar-iva-ventas}" th:object="${reporte}" method="post" enctype="multipart/form-data">
				 
					
 
					<div class="form-group row">	
						<label class="col-xs-2 col-form-label">Fecha entre:</label>
						<div class="col-sm-2">
							<input name="fechainicio" id="fechainicio" type="date" th:field="*{fechainicio}" class="form-control" min="0"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechainicio')}" th:errors="*{fechainicio}"></small>
						</div>
						<label class="col-xs-2 col-form-label">y</label>
						<div class="col-sm-2">
							<input type="date" name="fechafin" id="fechafin" th:field="*{fechafin}" class="form-control" min="0"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechafin')}" th:errors="*{fechafin}"></small>
						</div>
						 
						<div class="col-sm-6">
							<input type="submit" th:value="${boton}" class="btn btn-success" />
						</div>
				
				 </div>
					
 
				</form>
			</div>
		</div>
		
		<hr/>
 
		 <div class="card bg-dark text-white">
			<div class="card-header" th:text="'Productos y Materiales'"></div>
			<div class="card-body">
				

				<div th:object="${reporte}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/ventas/reporte/buscar-reporte-productos-completo}" th:object="${reporte}" method="post" enctype="multipart/form-data">
				 
		
					<div class="form-group row">	
						<label class="col-xs-2 col-form-label">Fecha entre:</label>
						<div class="col-sm-2">
							<input name="fechainicio" id="fechainicio" type="date" th:field="*{fechainicio}" class="form-control" min="0"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechainicio')}" th:errors="*{fechainicio}"></small>
						</div>
						<label class="col-xs-2 col-form-label">y</label>
						<div class="col-sm-2">
							<input type="date" name="fechafin" id="fechafin" th:field="*{fechafin}" class="form-control" min="0"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechafin')}" th:errors="*{fechafin}"></small>
						</div>
						 
						<div class="col-sm-2">
							<input type="submit" th:value="${boton}" class="btn btn-success" />
						</div>
				
				 </div>
					
 
				</form>
			</div>
		</div>
		
		
		
		
			 <hr/>
  	
		 <div class="card bg-dark text-white">
			<div class="card-header" th:text="'Saldos Cuenta Corriente'"></div>
			<div class="card-body">
				

				<div th:object="${reporte}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/ventas/reporte/saldo-pendiente}" th:object="${reporte}" method="post" enctype="multipart/form-data">
				 
		
				<div class="form-group row">	
					<div class="col-sm-6">
						<input type="submit" th:value="${boton}" class="btn btn-success" />
					</div>
				
				 </div>
					
 
				</form>
			</div>
		</div>
		
		
	</div>
 

 	<footer th:replace="layout/layout :: footer"></footer>   
</body>
</html>