<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
			<h2  th:text="#{text.cliente.titulo}"></h2>

 		<hr/>
 		
 		<div class="container">
				<div class="row">
				<div class="col-xs">
					<h4 class="card-title">
						<a th:href="@{/ventas/cliente/nuevo}" class="btn btn-primary" th:text="#{text.cliente.crear}"></a>
					</h4>
				</div>
				<div class="col-sm">
					<h4 class="card-title">
						<a th:href="@{/ventas/cliente/buscar}" class="btn btn-success" th:text="#{text.cliente.buscar}"></a>
					</h4>
				</div>
				<div class="col-xs">
					<h4 class="card-title">
						<a th:href="@{/ventas/cliente/editar/} + ${cliente.id}" class="btn btn-primary" th:text="#{text.editar}"></a>
					</h4>
				</div>
				<div class="col-sm">
					<h4 class="card-title">
						<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/ventas/cliente/eliminar/} + ${cliente.id}" 
							class="btn btn-danger" onclick="return confirm('Estás seguro que quieres eliminar?');" th:text="#{text.eliminar}"></a>
					</h4>
				</div>
				</div>
			</div>
			

		<div class="card bg-light">
			<div class="card-header" th:text="#{text.cliente.detalle}"></div>
			<div class="card-body">

				<h4 class="card-title">

				</h4>
				<div class="row">
					<div class="col-sm ">
							<h4 class="card-title">
								<a th:href="@{/ventas/cliente/ctacteventas/(format=xlsx)}" class="btn btn-xs btn-success float-right" th:text="#{text.cliente.ctacte}"></a>
					    	</h4>
					</div>
				</div>
				<div class="row">
					<ul class="list-group col-sm-10">
						<li class="list-group-item active" th:text="${cliente.nombre}"></li>
						<li class="list-group-item" th:text="#{text.cliente.razonsocial}+': '+ ${cliente.razonsocial}"></li>
						<li class="list-group-item" th:text="#{text.cliente.actividad}+': '+${cliente.actividad}"></li>
						<li class="list-group-item" th:text="#{text.cliente.cuit}+': '+ ${cliente.cuit} + ' - ' + #{text.cliente.iva}+': '+${cliente.iva}"></li>
						<li class="list-group-item" th:text="#{text.cliente.direccion}+': '+  ${cliente.direccion} + ' ' + 
														 	#{text.cliente.codigopostal}+': '+ ${cliente.codigopostal} +' ' +
														 	${cliente.localidad}  +',' + ${cliente.partido} +' ' +
														 	#{text.cliente.provincia} + ' '+ ${cliente.provincia} +' '+ ${cliente.pais}"></li>
 						<li class="list-group-item" th:text="#{text.cliente.contacto}+': '+ ${cliente.contacto} +' ' +
 															 #{text.cliente.telefono}+': '+ ${cliente.telefono} +' ' +
 															 #{text.cliente.email}+': '+ ${cliente.email} "></li>
 					</ul>
				</div>
			</div>
			
		</div>
    
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>