<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h2>Productos y Materiales</h2>
		<hr/>

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			<div class="container">
				<div class="row">
				<div class="col-xs">
					<h4 class="card-title">
						<a th:href="@{/producto/nuevo}" class="btn btn-primary">Crear Producto</a>
					</h4>
				</div>
				<div class="col-sm">
					<h4 class="card-title">
						<a th:href="@{/producto/buscar}" class="btn btn-success">Buscar Producto</a>
					</h4>
				</div>
				</div>
			</div>


				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Unidad</th>
							<th>Descripción</th>
							<th>Stock</th>
							<th>Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto: ${productos}">
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.unidad.nombre}"></td>
							<td th:text="${producto.descripcion}"></td>
							<td th:text="${#numbers.formatDecimal(producto.stock,1, 'POINT', 2, 'COMMA')}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/producto/editar/} + ${producto.id}" th:text="'editar'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-sm"
								th:href="@{/producto/eliminar/} + ${producto.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="layout/paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>