<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="album py-5 bg-light">
		<div class="container">

			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">

						<div class="card-body">
							<h3>Productos y Materiales</h3>
							<hr />
							<div class="d-flex justify-content-between align-items-center">


								<div class="list-group container-fluid">
									<a
										class="list-group-item list-group-item-action list-group-item-primary"
										th:href="@{producto/buscar}">Productos y Materiales</a> 
										
									<a
										class="list-group-item list-group-item-action list-group-item-success"
										th:href="@{unidades/listar}">Unidades</a> 
								</div>

							</div>
						</div>
					</div>

					
						<div class="card mb-4 shadow-sm">

						<div class="card-body">
							<h3>Parámetros</h3>
							<hr />
							<div class="d-flex justify-content-between align-items-center">


								<div class="list-group container-fluid">
									<a
										class="list-group-item list-group-item-action list-group-item-primary"
										th:href="@{puntodeventa/listar}">Puntos de Venta</a> 
									<a sec:authorize="hasRole('ROLE_ADMIN')"
										class="list-group-item list-group-item-action list-group-item-warning"
										th:href="@{usuarios/buscar}">Usuarios</a> 
								</div>

							</div>
						</div>
					</div>
					
					
					
					
				</div>



				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">

						<div class="card-body">
							<h3>Ventas</h3>
							<hr />
							<div class="d-flex justify-content-between align-items-center">
							<div class="list-group  container-fluid">
									<a  th:href="@{ventas/cliente/buscar}"
										class="list-group-item list-group-item-action list-group-item-primary">Clientes</a>
									 <a th:href="@{ventas/factura/buscar}"
										class="list-group-item list-group-item-action list-group-item-success">Facturas</a>
									<a th:href="@{ventas/credito/buscar}"
										class="list-group-item list-group-item-action list-group-item-warning">Notas de Crédito</a>
									<a th:href="@{ventas/debito/buscar}"
										class="list-group-item list-group-item-action list-group-item-info">Notas de Débito</a>
									<a th:href="@{ventas/recibo/buscar}"
										class="list-group-item list-group-item-action list-group-item-danger">Recibos</a> 
									<a th:href="@{ventas/presupuesto/buscar}"
										class="list-group-item list-group-item-action list-group-item-success">Presupuestos de Venta</a>
								  	<a th:href="@{ventas/remito/buscar}"
										class="list-group-item list-group-item-action  list-group-item-light">Remitos</a>
									<a th:href="@{ventas/devolucion/buscar}"
										class="list-group-item list-group-item-action list-group-item-dark">Devoluciones</a>
								 	<a th:href="@{ventas/reporte/buscar}"
										class="list-group-item list-group-item-action  list-group-item-warning">Reportes</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
			
 


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>