<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h2>Puntos de Venta</h2>
		<hr/>

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/puntodeventa/nuevo}" class="btn btn-primary">Crear Punto de Venta</a>
				</h4>
 
				<table class="table table-striped"  >
					<thead>
						<tr>
							 
							<th>Nombre</th>
							<th>Docuento</th>
							<th>Tipo</th>
							<th>Prefijo</th>
							<th>Numero</th>
							<th>Dirección</th>
							<th>Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
					
						<tr th:each="puntodeventa: ${puntosdeventa}">
							<td th:text="${puntodeventa.nombre}"></td>
							<td th:text="${puntodeventa.documento}"></td>
							<td th:text="${puntodeventa.tipo}"></td>
							<td th:text="${puntodeventa.prefijo}"></td>
							<td th:text="${puntodeventa.numero}"></td>
							<td th:text="${puntodeventa.direccion}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/puntodeventa/editar/} + ${puntodeventa.id}" th:text="'editar'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-sm"
								th:href="@{/puntodeventa/eliminar/} + ${puntodeventa.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="layout/paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>